.flipArrow{
    position: absolute;
    right: 0;
    transition: 0.2s;
    transform-origin: right top;
    cursor: pointer;
}

@media (hover: hover) {
    .flipArrow:hover{
        transform: scale(1.10);
    }
}