/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*

Exit Transition
showFront = true -> false
front -> back

Enter Transition
showFront = false -> true
back -> front

*/

.flip-exit {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.flip-exit-active {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -webkit-transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
         -o-transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
            transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
}

.flip-exit-done {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.flip-enter {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.flip-enter-active {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -webkit-transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
         -o-transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
            transition-timing-function: cubic-bezier(.57,.21,.69,1.25);
}

.flip-enter-done {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}