/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.circle-wrap {
    width: 100px;
    height: 100px;
    background: #e6e2e7;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 10px #1d1e36;
            box-shadow: 1px 1px 10px #1d1e36;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    position: relative;
    will-change: transform;
}

.circle-wrap::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    opacity: 0;
    -webkit-box-shadow: 1px 1px 15px #1d1e36;
            box-shadow: 1px 1px 15px #1d1e36;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 100px, 100px, 50px);
}

.circle-wrap .circle .mask .fill {
    clip: rect(0px, 50px, 100px, 0px);
    background-color: #F5A11B;
}

.circle-wrap .inside-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #28282f;
    line-height: 80px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 500;
    font-size: 1.4em;
}

@media (hover: hover) {
    .circle-wrap:hover {
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
    }

    .circle-wrap:hover::after{
        opacity: 1;
    }
}

@media screen and (max-width : 750px) {
    .circle-wrap {
        width: 85px;
        height: 85px;
    }

    .circle-wrap .circle .mask,
    .circle-wrap .circle .fill {
        width: 85px;
        height: 85px;
    }

    .circle-wrap .circle .mask {
        clip: rect(0px, 85px, 85px, 45px);
    }

    .circle-wrap .circle .mask .fill {
        clip: rect(0px, 45px, 85px, 0px);
        background-color: #F5A11B;
    }
    
    .circle-wrap .inside-circle {
        width: 65px;
        height: 65px;
        line-height: 65px;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 550px) {
    .circle-wrap {
        width: 75px;
        height: 75px;
    }

    .circle-wrap .circle .mask,
    .circle-wrap .circle .fill {
        width: 75px;
        height: 75px;
    }

    .circle-wrap .circle .mask {
        clip: rect(0px, 75px, 75px, 35px);
    }

    .circle-wrap .circle .mask .fill {
        clip: rect(0px, 35px, 75px, 0px);
        background-color: #F5A11B;
    }
    
    .circle-wrap .inside-circle {
        width: 55px;
        height: 55px;
        line-height: 55px;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 1em;
    }

    .slick-dots{
        bottom: -45px !important;
    }
}