/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.project__container{
    position: relative;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    aspect-ratio: 2 / 1;
}

.project{
    display: block;
    margin: 0 10px;
    position: relative;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 1.7s;
    -webkit-transition: 1.7s;
    -o-transition: 1.7s;
}

.project.visible{
    opacity: 1;
    visibility: visible;
}

.project__content {
    position: absolute;
    inset: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px 20px;
    color: #e3e5eb;
    overflow: auto;
}

.project__title {
    color: #F5A11B;
    text-align: center;
    margin-bottom: 15px;
}

.project__description{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.project__description br {
    display: block;
    content: "";
    margin-top: 10px;
}

.project__img-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px #1d1e36;
            box-shadow: 0px 0px 10px #1d1e36;
}

.project__img{
    width: 100%;
    height: 100%;
    -o-object-position: top left;
       object-position: top left;
}

@media (hover: hover) {
    .project:hover .project__content{
        opacity: 1;
    }
}

@media screen and (max-width:900px) {
    .project__content{
        position: relative;
        opacity: 1;
        background-color: transparent;
    }
    
    .project.visible{
        overflow-y: auto;
    }
}

@media screen and (max-width:700px) {
    .project {
        margin: 0;
    }
    
    .project__title {
        margin-bottom: 10px;
    }
}