.project{
    display: block;
    position: relative;
    margin: 0 10px;
    height: 100%;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 1.7s;
}

.project.visible{
    opacity: 1;
    visibility: visible;
}

.project__content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px 20px;
    color: #e3e5eb;
    overflow: hidden;
}

.project__title {
    color: #F5A11B;
    text-align: center;
    font-size: 17px;
}

.project__description{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project__description br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10px; /* change this to whatever height you want it */
}

.project__img-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 10px #0d1641;
}

.project__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

@media (hover: hover) {
    .project:hover .project__content{
        opacity: 1;
    }
}