.cardSide__front {
    display: flex;
}

.cardSide__left,
.cardSide__right {
  height: 100%;
  overflow: hidden;
  padding: 20px;
}

.cardSide__right {
  width: 55%;
}

.cardSide__left {
  width: 45%;
}

/**************   LEFT SIDE   ***************/ 

.info__container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

h3 {
    width: 100%;
    margin: 20px 0 10px;
}

/* IMG */
.img__container {
    height: 60%;
    width: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0px 0px 10px #151628;
    transition: 0.3s;
    position: relative;
}

.img__container::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0px 0px 15px #151628;
    transition: 0.2s;
}

.img__container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

@media (hover: hover) {
    .img__container:hover {
        transform: scale(1.075);
    }

    .img__container:hover::after{
        opacity: 1;
    }
}

/* ABOUT */
.about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__container h1{
    font-size: 1.6em;
    top: -5px;
    position: relative;
}

.about__container p {
    font-weight: 600;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.text-content {
    margin-top: 10px;
}

/* SOCIAL */

.social__container{
    margin-top: 20px;
}

.social__item {
    display: flex;
    gap: 10px;
    width: fit-content;
}

.social__item:last-child{
    gap: 6.5px;
    left: -4.5px;
    position: relative;
}

.social__item svg path,
.social__item svg rect {
    transition: 0.2s;
}

.social__link {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

@media (hover: hover) {
    .social__item:hover {
        color: #F5A11B;
    }

    /* .social__item svg path {
        fill: #F5A11B;
    }
    
    /* contact svg 
    .social__item:nth-child(3) svg path{
        fill: #20213b;
    }

    .social__item:nth-child(3) svg path:nth-child(2),
    .social__item:nth-child(3) svg rect{
        fill: #F5A11B;
    }

    /* tel svg 
    .social__item:last-child svg path:nth-child(3),
    .social__item:last-child svg path:nth-child(6),
    .social__item:last-child svg path:nth-child(7){
        fill: #20213b;
    }

    .social__item:last-child svg path:nth-child(2){
        fill: #F5A11B;
    } */
}

/* SKILLS */

.skills__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills {
    background-color: #28282f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 14px;
    box-shadow: 1px 1px 5px #151628;
    transition: 0.1s;
    position: relative;
}

.skills::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    opacity: 0;
    box-shadow: 1px 1px 10px #151628;
    transition: 0.2s;
}

@media (hover: hover) {
    .skills:hover {
        transform: scale(1.020);
    }

    .skills:hover::after{
        opacity: 1;
    }
}

/**************   RIGHT SIDE   ***************/

h2 {
    margin: 15px 0;
}

.exp__container h2 {
    margin-top: 0;
}


/**************   RESPONSIVE  ***************/

@media screen and (max-width : 900px) {
    .cardSide__front {
        flex-direction: column;
    }

    .img__container{
        width: 15%;
        margin-right: 30px;
    }

    .social__container {
        display: flex;
        flex-wrap: wrap;
    }

    .social__item {
        width: 50%;
    }

    .social__container .social__item:nth-child(even){
        justify-content: end;
    }

    .cardSide__right, .cardSide__left{
        width: 100%;
        overflow: auto;
    }

    .cardSide__left {
        border-bottom:  5px solid #232F3E;
        margin-bottom: 5px;
        position: relative;
    }

    .cardSide__left::after{
        content: "";
        position: fixed;
        bottom: 50%;
        left: 0;
        right: 0;
        border-bottom: 1px solid;

    }

    .cardSide__right{
        margin-top: 5px;
    }
}

@media screen and (max-width:700px) {
    .social__item{
        width: 100%;
        justify-content: start !important;
    }
}