.cardSide__front {
    display: flex;
}

.cardSide__left,
.cardSide__right {
  height: 100%;
  overflow: hidden;
  padding: 20px;
}

.cardSide__right {
  width: 55%;
}

.cardSide__left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**************   LEFT SIDE   ***************/ 

.exp__section-mobile{
    display: none;
}

.info__container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

h3 {
    width: 100%;
    margin: 0 0 15px;
}

/* IMG */
.img__container {
    height: 60%;
    width: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0px 0px 10px #151628;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}

.img__container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.2s;
}

@media (hover: hover) {
    .img__container:hover img {
        transform: scale(1.2);
    }
}

/* ABOUT */
.about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__container h1{
    font-size: 1.6em;
    top: -5px;
    position: relative;
}

.about__container p {
    font-weight: 600;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.text-content {
    margin-top: 15px;
}

/* SKILLS */

.skills__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills {
    background-color: #28282f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 14px;
    box-shadow: 0px 0px 5px #1d1e36;
    transition: 0.1s;
    position: relative;
}

.skills::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    opacity: 0;
    box-shadow: 0px 0px 7px #1d1e36;
    transition: 0.2s;
}

.hobbies__container {
    margin-bottom: 5px;
}

@media (hover: hover) {
    .skills:hover {
        transform: scale(1.010);
    }

    .skills:hover::after{
        opacity: 1;
    }
}

/**************   RIGHT SIDE   ***************/

h2 {
    margin: 15px 0;
}

.exp__container h2 {
    margin-top: 0;
}


/**************   RESPONSIVE  ***************/

@media screen and (max-width : 900px) {
    .cardSide__front {
        flex-direction: column;
    }

    .img__container{
        width: 15%;
        margin-right: 30px;
    }

    .social__container {
        display: flex;
        flex-wrap: wrap;
    }

    .social__item {
        width: 50%;
    }

    .social__container .social__item:nth-child(even){
        justify-content: end;
    }

    .exp__section-mobile{
        display: block;
    }

    .cardSide__right{
        display: none;
    }

    .cardSide__left{
        width: 100%;
        overflow: auto;
        gap: 20px;
    }

    .cardSide__left {
        margin-bottom: 5px;
        position: relative;
    }

    .cardSide__right{
        margin-top: 5px;
    }
}

@media screen and (max-width:700px) {
    .social__item{
        width: 100%;
        justify-content: start !important;
    }
}