/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.globalContainer {
    width: 100vw;
    height: 100vh;
    -webkit-perspective: 1500px;
            perspective: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container {
    width: 80%;
    height: 75%;
    max-width: 1100px;
    margin: auto;
    -webkit-transform: rotateX(20deg) rotateY(20deg);
            transform: rotateX(20deg) rotateY(20deg);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 1200px) {
    .container {
        height: 75%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        height: 85%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        height: 95%;
    }

    .cardSide__left, .cardSide__right {
        padding: 15px;
    }
}